@import "../../styles/index.scss";

#productCard {
  @include flexbox(flex-start, center, row);
  margin-top: 2px;
  background: $white;
  width: 35rem;
  > div {
    @include flexbox(center, flex-start, column);
    div:nth-child(1) {
      @include flexbox(center, center, row);
      img {
        margin-left: 1rem;
        width: 1.4rem;
      }
    }
    div:nth-child(2) {
      @include flexbox(center, flex-start, column);
      margin-top: 2rem;
      h2{
          margin-right: 2rem;
      }
      p:nth-child(2) {
        margin-top: 0.4rem;
        color: $gray;
      }
    }
  }
}
